@import 'utility';

@import url('https://fonts.googleapis.com/css?family=Roboto:900');

.Banapple {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 150px auto;

  img {
    position: absolute;
    z-index: -2;
  }

  .container {
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .copy {
    font-family: 'Roboto', sans-serif;
    color: rgb(235, 226, 32);
    position: relative;
    margin: 10px 0;
    opacity: 0;
    overflow: hidden;
    @extend .Copy;
  }

  .banana {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend .Banana;
    opacity: 0;

    .ban {

    }

    .ana {
      @extend .disappear;
    }
  }

  .mainA {
    color: rgb(195, 20, 46);
    opacity: 0;
    position: relative;
    top: 0;
    @extend .A;
  }

  .apple {
    opacity: 0;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend .Apple;

    .a {
      @extend .disappear;
    }

    .pple {
    }
  }

  .designs {
    margin: 0 0 3px 0;
    opacity: 0;
    @extend .Designs;
    font-variant: small-caps;
  }

  .shadow {
    width: 40px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(111, 112, 112);
    display:block;
    margin: 0 auto;
    z-index: -1;
    position: relative;
    top: -14px;
    left: 3.5px;
    opacity: 0;
    @extend .Shadow;
  }
}

.Copy {
  animation-name: text-flicker-in-glow;
  animation-duration:4s, 1s, 1s;
  animation-delay: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: both, forwards, forwards;

  @keyframes appear4 {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes slideUp {
    from {top: 30px;}
    to {top: 0px;}
  }

  @keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}

}

.Banana {
  animation-name: appear, slideRight;
  animation-duration: 1s, 1s;
  animation-delay: 1s, 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  @keyframes slideRight {
    from {margin-right: 10px;}
    to {margin-right: 0;}
  }
}

.A {
  animation-name: grow, spin, become, jump;
  animation-duration: 1s, 500ms, 1s, 600ms;
  animation-iteration-count: 1, 3, 1, 1;
  animation-delay: 3.2s, 3.2s, 3.2s, 4.2s;
  animation-timing-function: ease, linear, ease, ease;
  animation-fill-mode: forwards;
  text-align: center;

  @keyframes grow {
    from {font-size: 0em;}
    to {font-size: 3em;}
  }

  @keyframes spin {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(-360deg); }
  }

  @keyframes become {
    from {opacity: 0}
    to {opacity: 1}
  }

  @keyframes jump {
    0% {top: 0;}
    2% {top: 2px}
    50% {top: -20px;}
    // 95% {top: 2px;}
    100% {top: 0;}
  }
}

.Apple {
  animation-name: appear2, slideLeft;
  animation-duration: 1s, 1s;
  animation-delay: 2s, 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @keyframes appear2 {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes slideLeft {
    from {margin-left: 10px;}
    to {margin-left: 0;}
  }
}

.Designs {
  animation-name: appear3;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @keyframes appear3 {
    from {opacity: 0;}
    to {opacity: 1;}
  }
}

.Shadow {
  animation-name: become2, grow2;
  animation-duration: 1.7s, 1.8s;
  animation-iteration-count: 1, 1;
  animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
  animation-delay: 3.2s, 3.2s;
  animation-fill-mode: forwards;

  @keyframes grow2 {
    0% {transform: scale(0);}
    50% {transform: scale(1);}
    75% {transform: scale(1.4);}
    100% {transform: scale(1);}
  }

  @keyframes become2 {
    0% {opacity: 0;}
    50% {opacity: .7;}
    75% {opacity: .2;}
    100% {opacity: .7;}
  }
}

.disappear {
  animation-name: vanish, shrink;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 3s;

  @keyframes vanish {
    from {opacity: 1;}
    to {opacity: 0;}
  }

  @keyframes shrink {
    from {font-size: 1em;}
    to {font-size: 0em; display: none;}
  }
}

.disappear2 {
  animation-name: vanish2, shrink2;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 3s;

  @keyframes vanish2 {
    from {opacity: 1;}
    to {opacity: 0;}
  }

  @keyframes shrink2 {
    from {font-size: 1em;}
    to {font-size: 0em; display: none;}
  }
}
