@import 'utility';

@import url('https://fonts.googleapis.com/css?family=Cabin');

.ForwardHypermedia {
  header {
    font-family: 'Cabin', sans-serif;
    font-size: 1.5em;
    margin-left: 1em;

    nav h1 {
      margin: 0;
      display: flex;

      .first-bracket {
        // color: white;
      }

      .forward {
        // display: none;
      }

      .line-1{
        // position: relative;
        // top: 50%;
        width: 3.6em;
        margin: 0;
        // border-right: 2px solid rgba(255,255,255,.75);
        // font-size: 180%;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        // transform: translateY(-50%);
      }

      .anim-typewriter {
        // display: none;
        animation: typewriter 500ms steps(8) 1s 1 normal both;
        animation-fill-mode: forward;
      }

      @keyframes typewriter {
        from {width: 0; display: none;}
        to {width: 3.6em; display: block;}
      }

      .second-bracket {

      }

      .hyphen {
        visibility: hidden;
      }

      .third-bracket {
        display: none;
      }

      .ypermedia {
        display: none;
      }
    }
  }
}
