@import 'utility';

.StickyMenu {

  .container {
    height: 1100px;
    border: 2px solid black;
    width: 100%;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 150px;
    margin-bottom: 1000px;

    .menu {
      border: 2px solid black;
      margin: 10px;
      padding: 10px;
      float: left;
      position: sticky;
      top: 10px;
      width: 170px;

      ul {
        list-style: none;
        padding-left: 0;
        display: block;
      }
    }

    .text {
      max-width: 560px;
      float: left;
      padding: 5px 10px;
    }
  }
}
