@import 'utility';
@import 'banapple';
@import 'forward-hypermedia';

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  background-color: rgb(149, 140, 237);

  nav {
    a {
      margin: 5px;
    }
  }
}
